<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="pushover_api_url" value="https://api.pushover.net/1/messages.json"/>
    <add key="pushover_token" value=""/>
    <add key="pushover_user" value=""/>
    <add key="log-path" value="D:\network-watcher-reporter.log"/>
  </appSettings>
</configuration>